<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

</head>
<body>

<div class="container">
    <div class="page-header">
        <h3> Thug frontend </h3>
        <div class="row">
            <div class="col-lg-12">
                <form id="urlform" class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="urlinput">Enter URL:</label>
                        <input name="url" type="url" class="form-control" id="urlinput">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="useragent">Choose user agent:</label>
                        <select name="useragent" id="useragent" class="selectpicker" multiple data-actions-box="true">
                            <option value="winxpie60">Internet Explorer 6.0</option>
                            <option value="winxpchrome20">Chrome 20.0.1132.47</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <table id="tasktable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>TaskID</th>
            <th>URL</th>
            <th>Agent</th>
            <th>Status</th>
            <th>Checked</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
    $(document).ready(function() {
        $('#tasktable').DataTable( {
            "bProcessing": true,
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "bjQueryUI": true,
            "sAjaxSource": $SCRIPT_ROOT + "/get_tasks",
            "createdRow": function ( row, data, index ) {
                update_progress(row, data, index);
            }
        });
    });
</script>

<script>
    $("#urlform").submit(function (event) {
        $.ajax({
            type: 'POST',
            url: $SCRIPT_ROOT + '/thugtask',
            data: JSON.stringify($("#urlform").serializeArray()),
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            success: function (data, status) {
                $('#tasktable').dataTable().fnDraw();
            },
            error: function () {
                alert('Error');
            }
        });
        event.preventDefault();
    });

    function update_progress(row, data, index) {
        $.getJSON($SCRIPT_ROOT + '/status/' + data[0], function(status_data) {
            data[3].set(status_data['state']);
            if (status_data['state'] == 'PENDING' || status_data['state'] == 'PROGRESS') {
                setTimeout(function() {
                    update_progress(row, data, index);
                }, 2000);
            }
        });
    }
</script>


</body>
</html>